<header>
    Page Header
    <ul>
        <%if(locals.user){%>
        <li>
            <%=user.name%>
        </li>
        <li>
            <a href="/users/signOut">Sign-Out</a>
        </li>
        <%}else{%>
        <li>
            <a href="/users/signUp">SignUp</a>
        </li>
        <li>
            <a href="/users/signIn">SignIn</a>
        </li>
        <%}%>
    </ul>
</header>