<form action="/users/resetpassword" method="POST">
    <input type="password" name="password" placeholder="Enter new Password"  required>
    <input type="password" name="user" value="<%=user%>">
   
    <input type="submit" value="Change">

</form> 