#layout-header{
    nav{
        display:flex;
        justify-content: space-between;
        background-color:brown;
        padding: 0 10px;
        margin:-7 -5px;
        color:white;
        box-shadow: 1px 1px 1px 1px lightgrey;
          

        .mini-logo{
            p{
                margin:5px;
                font-weight:bold;
                font-size: 50px;
                

            }
        }
        .auth-links{
            ul{
            margin: 10% 5px;
            display: flex !important;
            flex-direction: column !important;

            li{
                margin-right: 5px;
            }
        }

        }
        a{
            color: white;
            text-decoration: none;
        }

        
    }
}